<!-- components/organisms/icon-input-group.php -->
div.bg-black
    div.icon-input-group
        div.flex-30
            img.icon-img(src="img/sas.png")
            img.icon-img(src="img/aa.jpg")
            img.icon-img(src="img/ariana.jpg")
            img.icon-img(src="img/sa.jpg")
            img.icon-img(src="img/ca.png")
            img.icon-img(src="img/tarom.jpg")
        div.flex-70
            form.input-group
            input.input-field(type="text" placeholder="Username")
            input.input-field(type="text" placeholder="Password")
            button.input-btn Log in
            p.input-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
