
<!-- Background Colours -->

p.headline Background Colours

div.color-group
    div.color-group__color-swatch
        div.color-group__color-swatch--bgc01
        p.regular HEX #3c71e0

    div.color-group__color-swatch
        div.color-group__color-swatch--bgc02
        p.regular HEX #ffffff

    div.color-group__color-swatch 
        div.color-group__color-swatch--bgc03
        p.regular HEX #f0f0f0

    div.color-group__color-swatch
        div.color-group__color-swatch--bgc04
        p.regular HEX #3267d6

    div.color-group__color-swatch
        div.color-group__color-swatch--bgc05
        p.regular HEX #f0f2f3

    div.color-group__color-swatch
        div.color-group__color-swatch--bgc06
        p.regular HEX #fafafa

    div.color-group__color-swatch 
        div.color-group__color-swatch--bgc07
        p.regular HEX #13181b

    div.color-group__color-swatch
        div.color-group__color-swatch--bgc08
        p.regular HEX #3f81ff

<!-- Text Colours -->

p.headline Text Colours

div.color-group
    div.color-group__color-swatch
        div.color-group__color-swatch--tc01
        p.regular HEX #2e2d33

    div.color-group__color-swatch
        div.color-group__color-swatch--tc02
        p.regular HEX #ffffff

    div.color-group__color-swatch 
        div.color-group__color-swatch--tc03
        p.regular HEX #605f65

    div.color-group__color-swatch
        div.color-group__color-swatch--tc04
        p.regular HEX #4285f4

    div.color-group__color-swatch
        div.color-group__color-swatch--tc05
        p.regular HEX #000000

    div.color-group__color-swatch
        div.color-group__color-swatch--tc06
        p.regular HEX #585b63

    div.color-group__color-swatch 
        div.color-group__color-swatch--tc07
        p.regular HEX #3267d6

    div.color-group__color-swatch
        div.color-group__color-swatch--tc08
        p.regular HEX #f7f7f7