div
    p Header 1: 'Fira Sans', Sans-Serif, Normal, 22px, #585b63
        span.header.header01 The quick brown fox jumps over the lazy dog
    p Header 2: 'Fira Sans', Sans-Serif, Normal, 31px #585b63
        span.header.header02 The quick brown fox jumps over the lazy dog
    p Header 3: 'Fira Sans', Sans-Serif, Normal, 35px #585b63
        span.header.header03 The quick brown fox jumps over the lazy dog
    p Header 4: 'Fira Sans', Sans-Serif, Normal, 38px, #585b63
        span.header.header04 The quick brown fox jumps over the lazy dog

