/* scss/molecules/_block-right.scss */

.block-right {
    width: 50%;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}