/* scss/molecules/_icon-group.scss */

.icon-group {
    background-color: $white;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}