/* scss/molecules/_icon-group.scss */

.icon-img {
    border-radius: 10px;
    margin: 10px;
    width: 75px;
    height: 75px;
}
@media screen and (min-width : 960px) {
    .icon-img {
        border-radius: 10px;
        margin: 10px;
        width: 85px;
        height: 85px;
    }
}