/* scss/molecules/_logo-group.scss */

.logo-group {
    background-color: $white;
    margin: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}