/* scss/molecules/_menu.scss */

.navBar {
  background-color: $bg-color04;
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  text-decoration: none;
}

.logo {
  background-color: $bg-color02;
  color: $text-color07;
  height: 20px;
  min-width: 170px;
  padding: 10px;
  cursor: pointer;
}

// Content Wrapper
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
}

// Full Navigation, including mobile menu
nav {
  .ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    width: 50%;
    background-color: $bg-color04;
  }
  .link {
      color: $text-color02;
      cursor: pointer;
      text-decoration: none;
    }
  .li  {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  
  #menu-toggle {
      display: none;
    }
  .label-toggle {
      display: none;
    }
  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (min-width:0px) and (max-width: 640px) {
    .ul {
      background-color: $bg-color04;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
    }
    
    .li {
      color: $text-color02;
      font-size: 1.5em;
      padding: 0.2em 0;
      background-color: $bg-color04;
      text-decoration: none;
    }
  
    #menu-toggle:checked ~ .ul {
      height: 100vh;
      visibility: visible;
    }
    
    .label-toggle {
      cursor: pointer;
      display: block;
      height: 35px;
      margin-top: 5px;
      width: 35px;
      background-image: url(../img/ic_dehaze_white_24px.svg);
    }
    
    .wrapper {
      display: block;
      }
  }
}