/* scss/molecules/_search-field.scss */

.search-field {
    height: 45px;
    width: 700px;
    border: 1px solid $blue;
    padding-left: 10px;
    background-image:url(../img/icons.svg); 
    background-repeat: no-repeat; 
    background-position: 600px 2px;
}
.search-field:focus { 
    box-shadow: none;
}
.input-group {
    background-color: $white;
    margin: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}