/* scss/atoms/_icon.scss */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon-styling {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    font-style: normal;
}

.icon {
    font-size: 22pt;
    font-family: 'Material Icons';
    font-style: normal;
    margin: 10px;
    line-height: 20px;
    color: $text-color02;
}