 
html
    head
        title Styleguide

    link(rel="stylesheet" type="text/css" href="css/main.css")

    body
        nav.navBar
            nav.wrapper
                div.logo DESTINATION [ ? ]
                form
                    input(type="checkbox" id="menu-toggle")
                    label.label-toggle(for="menu-toggle")
                ul.ul
                a.a(href="#")
                    li.li 
                        div.icon &#xE88A;
                        div Home
                a.a(href="#")
                    li.li 
                        div.icon &#xE53D;
                        div Airlines
                a.a(href="#")
                    li.li 
                        div.icon &#xE88F;
                        div Information
                a.a(href="#")
                    li.li 
                        div.icon &#xE7FD; 
                        div Login

        div.center
            div.textframe 
                div.textframe--white.header03 destination 
                div.textframe--black.header03 unknown
            div.subheader.header01 Where do you wanna go?
        
        div.card-group
            div.groups
                div.card
                    img.card--img(src="img/airport.jpg")
                    div.card--text
                        p.header03 Airport
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
                div.card
                    img.card--img(src="img/boarding_pass.png")
                    div.card--text
                        p.header03 Boarding Pass
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis atque corrupti quos dolores et quas molestias excepturi dolorum fuga.
            div.groups   
                div.card
                    img.card--img(src="img/onboard.jpg")
                    div.card--text
                        p.header03 Onboard
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.
                div.card
                    img.card--img(src="img/cockpit.jpg")
                    div.card--text
                        p.header03 Cockpit
                        p At vero eos et accusamus et iusto odio dignissimos ducimus qui deleniti atque corrupti quos dolores.

        div.text-area
            div.text-area--part
                p.header03 Airline
                p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

            div.text-area--part
                p.header03 Airbus A320
                p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

       div.bg-black
            div.icon-input-group
                div.flex-30
                    img.icon-img(src="img/sas.png")
                    img.icon-img(src="img/aa.jpg")
                    img.icon-img(src="img/ariana.jpg")
                    img.icon-img(src="img/sa.jpg")
                    img.icon-img(src="img/ca.png")
                    img.icon-img(src="img/tarom.jpg")
                div.flex-70
                    form.input-group
                    input.input-field(type="text" placeholder="Username")
                    input.input-field(type="text" placeholder="Password")
                    button.input-btn Log in
                    p.input-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
