<!-- components/atoms/images.php -->
div.preview-group
    img.small.preview-group--preview(src="img/aa.jpg")
    img.small.preview-group--preview(src="img/airplane.jpg")
    img.small.preview-group--preview(src="img/airport.jpg")
    img.small.preview-group--preview(src="img/ariana.jpg")
    img.small.preview-group--preview(src="img/boarding_pass.png")
    img.small.preview-group--preview(src="img/ca.png")
div.preview-group
    img.small.preview-group--preview(src="img/cockpit.jpg")
    img.small.preview-group--preview(src="img/onboard.jpg")
    img.small.preview-group--preview(src="img/sa.jpg")
    img.small.preview-group--preview(src="img/sas.png")
    img.small.preview-group--preview(src="img/tarom.jpg")