<!-- components/molecules/card-group.jade -->
div.card-group
    div.groups
        div.card
            img.card--img(src="img/airport.jpg")
            div.card--text
                p.header03 Airport
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias.
        div.card
            img.card--img(src="img/boarding_pass.png")
            div.card--text
                p.header03 Boarding Pass
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis atque corrupti quos dolores et quas molestias excepturi dolorum fuga.
     div.groups   
        div.card
            img.card--img(src="img/onboard.jpg")
            div.card--text
                p.header03 Onboard
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti.
        div.card
            img.card--img(src="img/cockpit.jpg")
            div.card--text
                p.header03 Cockpit
                p At vero eos et accusamus et iusto odio dignissimos ducimus qui deleniti atque corrupti quos dolores.
    