<!-- components/molecules/menu.php -->

nav.navBar
  nav.wrapper
    div.logo DESTINATION [ ? ]
    form
        input#menu-toggle(type="checkbox")
        label.label-toggle(for="menu-toggle")
    ul.ul
        li.li
            div.icon &#xE88A;
            div.link Home
        li.li
            div.icon &#xE53D;
            div.link Airlines
        li.li
            div.icon &#xE88F;
            div.link Information
        li.li
            div.icon &#xE7FD; 
            div.link Login
