<!-- components/molecules/menu.php -->

nav.navBar
  nav.wrapper
    div.logo DESTINATION [ ? ]
    form
        input(type="checkbox" id="menu-toggle")
        label.label-toggle(for="menu-toggle")
    ul.ul
      a.a(href="#")
        li.li 
            div.icon &#xE88A;
            div Home
      a.a(href="#")
        li.li 
            div.icon &#xE53D;
            div Airlines
      a.a(href="#")
        li.li 
            div.icon &#xE88F;
            div Information
      a.a(href="#")
        li.li 
            div.icon &#xE7FD; 
            div Login
        