/* scss/organisms/_header.scss */

.header {
    flex-basis: 2;
    background-color: $white;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}