/* scss/base/_fonts.scss */

$root-font-size: 10px;

@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
$font-family-body: 'Fira Sans', sans-serif;
$default-font-weight: 300;


/* Inserting type */
body {
  background-color: $bg-color06;
  color: #2e2d33;
  font-size: 14pt;
  font-family: $font-family-body;
}
p {
  margin: 10px;
}
span {
  font-style: normal;
}
a {
  color: #000;
}
.header {
  margin-right: 15px;
  margin-top: 0px;
}
.header01 {
  color: #585b63;
  font-size: 22pt;
}
.header02 {
  color: #585b63;
  font-size: 31pt;
}
.header03 {
  color: #585b63;
  font-size: 35pt;
}
.header04 {
  color: #585b63;
  font-size: 38pt;
}